__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

config/config.local.yaml
config/.secrets.yaml
.secrets.baseline

openshift/local/

.venv/
venv/
.env

reports/

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
